h1,
h2,
h3,
a,
p,
footer {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 1;
  margin: 30px 0;
}

header {
  background-image: linear-gradient(
      rgba(176, 176, 176, 0.4),
      rgba(70, 70, 70, 0.337)
    ),
    url(../images/beach-groins.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px;
}

header h2 {
  font-weight: 200;
  line-height: 1.5;
  margin: 10;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;

  padding: 100px;
}

.img-responsive {
  margin-top: 25px;
  display: block;
  width: 100%;
  margin: auto;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns h2 {
  font-size: 18px;
  opacity: 40%;
}

.grid-2-columns h3 {
  font-size: 24px;
}

main {
  background-color: rgb(255, 255, 255);
}

footer {
  background-image: linear-gradient(
      rgba(171, 171, 171, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/beach-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px;
}

footer h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 200;
  font-size: 16px;
  opacity: 0.7;

  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 12px;
}

footer p a {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 18px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
    display: block;
  }
}
